.book-info-container{
    padding:5%;


}

.book-page{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:50px;
}



.book-page img{
    justify-self: center;
    height: 200px;
}

.book-page div{
    margin-bottom: 10px;

}

.book-page .title{
    font-weight: bold;
    font-size: 20px;
}

.book-page .description{
    border:1px solid #c3c3c3;
    padding:30px;
    text-align: justify;
}

.book-info-container button{
background-color: Transparent;
cursor: pointer;
border:none;
position: fixed;
}

@media screen and ( max-width: 968px ){
    .book-page{
        display: block;
        text-align: center;
    }

    .book-page .categories{
        text-align: justify;
    }
}

